.news-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.news-chanelTitle {
    align-items: flex-end; 
}
.faYoutube {
    color: red;
    margin-left: 5px;
    margin-right: 2px;
    font-size: 1.4em;
}
.newLocalImg {
    margin-top: 10px;
    margin-bottom: 50px;
}
.news-card {
    margin: 0;
}